<!-- Header -->
<nav class="navbar-main">
    <div class="container-navbar">
      <a class="navbar-brand" href="#">
        <img src="assets/logo_movie.png" alt="Logo" class="logo-page-movie">
      </a>
      <span> Movie Map </span>    
    </div>
      <!-- Botón del menú desplegable -->
    <div class="menu-btn">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  
    <div class="navbar-options-main " id="navbarOptions">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Animations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documental</a>
        </li>
      </ul>
    </div>
  
    <form class="search" role="search">
      <input class="form-search" type="search" placeholder="Search films">
      <button class="btn-search" type="submit"> Search </button>
    </form>
    
  </nav>
  