/* Estilos generales para el navbar */

.navbar-main_header{
  display: flex;
  width: 100%;
}

.navbar-main {
  background-color: #321f51; 
  color: white; 
  padding: 10px 0;

}

.container-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos para el logo */
.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; 
  font-weight: 800; 
  font-size: 22px;
}

.logo-page-movie {
  width: 40px; 
  margin: 10px;
  display: flex;
  align-items: center;
}

/* Estilos para la sección de opciones */
.navbar-options-main {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
}
.navbar-options-main ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-options-main li {
  margin: 20px; /* Espaciado entre elementos de la lista */
}

.navbar-options-main a {
  text-decoration: none;
  color: white; 
  font-weight: 400; 
}

/* Barra de búsqueda */
.search {
  display: flex;
  align-items: center;
}

.form-search {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px; /* Espaciado entre el campo de búsqueda y el botón */
}

.btn-search {
  background-image: url('/assets/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

