/* Importa la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos para la barra de navegación */
.navbar-main {
  display: flex;
  justify-content: space-between; /* Alinea elementos al inicio y al final */
  align-items: center; 
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 50px;
  background: #030303;
  color: #FEFEFE;
  font-size: 22px;
  font-weight: 800;
  padding: 0 20px; /* Añade espacio en los extremos para pantallas más pequeñas */
}

.logo-page-movie {
    width: 30px;
}

/* Estilos para la lista de opciones de navegación */
.navbar-options-main ul {
  display: flex;
  list-style-type: none; /* Elimina las viñetas */
  padding: 0;
  margin: 0;
  font-weight: 400;
}

/* Estilos para los elementos de navegación */
.navbar-options-main li {
  display: inline;
  margin-right: 20px; /* Espacio entre elementos de navegación */
}

/* Estilos para el campo de búsqueda */
.form-search {
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
}

/* Estilos para el botón de búsqueda */
.btn-search {
    background-color: #6a00ff;
    color: #fff;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px; 
    transition: background-color 0.3s ease; /* Agrega una transición suave al cambio de color de fondo */
  }

/* Estilos para el menú desplegable */
.menu-btn {
    display: none; 
    cursor: pointer;
  }

.hidden-options {
    display: none; 
}
  
  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .menu-btn {
      display: block;
    }
    .menu-open .hidden-options {
      display: block;
    }
  }
  
