.movie-carousel {
    width: 100%;
    color:blanchedalmond;
    display: flex;   
}

img {
    width: 30vw;
}

.movie-slide {
    width: 100%; /* Asegura que cada película ocupe todo el ancho del slider */
    text-align: center; /* Centra el contenido (título y descripción) horizontalmente */
}

/* Estilos para los indicadores de diapositivas */
.slide-indicators {
    text-align: center; 
    margin-top: 10px; 
  }
  
.slide-indicator {
    display: inline-block; /* Muestra los indicadores en línea */
    width: 10px; 
    height: 10px;
    background-color: #ccc; 
    border-radius: 50%; 
    margin: 0 5px; 
    cursor: pointer; 
}
  
.slide-indicator.active {
    background-color: #6a00ff; /* Color del indicador activo */
}