/* Estilos para el carrusel */
.movie-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 90vh; /* Ajusta la altura del carrusel según tus preferencias */
  }
  
  .movie-slide {
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .movie-slide.active {
    display: block;
  }
  
  /* Estilos para el fondo de imagen */
  .movie-background {
    width: 100%;
    height: 100%; /* Ajusta la altura de la imagen en relación con el carrusel */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  /* Estilos para el texto de la película en la parte inferior */
  .movie-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0; /* Mueve el texto a la parte inferior */
    width: 100%; /* Ancho del texto en relación con el carrusel */
    height: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .movie-content h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .movie-content p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  /* Estilos para los indicadores de diapositivas encima del carrusel */
  .slide-indicators {
    text-align: center;
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical según tus preferencias */
    left: 0;
    right: 0;
  }
  
  .slide-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .slide-indicator.active {
    background-color: #6a00ff;
  }

  /* Media query para versiones de escritorio */
@media (min-width: 821px) {
    .movie-content {
      bottom: 0; /* Mantiene el texto en la parte inferior en escritorio */
      width: 30%; /* Ancho del texto en relación con el carrusel en escritorio */
      height: 100%;
    }
  }
  